/* ---------------------------------------------------- VARIABLE ---------------------------------------------------- */

:root {
    --primary: #439241;
    --secondary: #3f75ad;
    --background: #dcdce8;
    --bgc-navbar: rgba(220, 220, 232, 0.7);
    --bgc-alt: #c8c8d4;
    --text-color: #171732;
    --shadow: rgba(0, 0, 0, 0.8);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #87d480;
        --secondary: #5194ea;
        --background: #171732;
        --bgc-navbar: rgba(23, 23, 50, 0.7);
        --bgc-alt: #2b2b46;
        --text-color: #dcdce8;
        --shadow: rgba(127, 127, 127, 0.8);
    }
}

/* ------------------------------------------------------ DOM ------------------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Livvic', sans-serif;
}

/* --------------------------------------------------- SCROLL BAR --------------------------------------------------- */

/* Customize Scroll bar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 0.5rem;
}

/* ----------------------------------------------------- HEADER ----------------------------------------------------- */
/* ------------------------------------------ TOP-BAR ------------------------------------------ */

#header {
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0.5rem 0 var(--shadow);
    background-color: var(--bgc-navbar);
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-content: center;
    align-items: center;
}

#header .site-brand a {
    color: var(--primary);
    text-decoration: solid underline transparent 0.15rem;
    font-size: 2rem;
    display: flex;
    align-content: center;
    align-items: center;
    transition: .4s ease-in all;
}

#header .site-brand a:hover {
    text-decoration-color: var(--secondary);
    color: var(--secondary);
    transition: .4s ease-in all;
}

#header .site-brand a img {
    width: 3.5rem;
    height: auto;
}

#header .navbar {
    display: none;
}

@media screen and (min-width: 56rem) {
    #header .navbar {
        display: block;
        flex-grow: 1;
        margin-left: 3rem;
    }

    #header .navbar ul {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        align-content: center;
        align-items: center;
    }

    #header .navbar ul li {
        list-style: none;
    }

    #header .navbar ul li a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        font-size: 1.3rem;
        transform: scale(1);
        transition: .3s ease-in-out transform;
    }

    #header .navbar ul li a:hover {
        transform: scale(0.95);
        transition: .3s ease-in-out transform;
    }
}

main {
    /* To fix invisible content behind the navbar */
    padding-top: 4.5rem;
}

/* ---------------------------------------------- DEFAULT BALISE STYLE ---------------------------------------------- */

img {
    width: 100%;
    height: auto;
}

h1,
h2 {
    color: inherit;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

p {
    color: inherit;
    margin: 0.5rem 0;
}

/* -------------------------------------------- FORM ------------------------------------------- */

form.form-section {
    background-color: var(--background);
    color: var(--text-color);
    box-shadow: 0 0 1rem 0 var(--shadow);
    padding: 1rem;
    border-radius: 1rem;
}

form label,
form .form-control{
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

form .form-control {
    padding: 0.5rem 1rem;
    background-color: var(--bgc-alt);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
}

form .form-control:valid {
    color: var(--primary);
}

form .form-control::placeholder {
    color: var(--text-color);
}

form textarea.form-control {
    resize: vertical;
    min-height: 2rem;
}

form .btn {
    display: block;
    margin: 0 auto;
}

/* ----------------------------------------------------- CLASSE ----------------------------------------------------- */
.center {
    text-align: center;
    padding-bottom: 1rem;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.wrapper,
.wrapper-no-gap {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper {
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: space-evenly;
}

.col-illustration {
    max-width: 24rem;
    width: 100%;
}

.col-content {
    max-width: 40rem;
    width: 100%;
}

.col-form {
    width: 100%;
}

@media screen and (min-width: 76rem){
    .col-form {
        max-width: 35rem;
    }
}

/* to fix height ratio glitch */
.ytb-video {
    box-shadow: 0 0 1rem 0 var(--shadow);
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.ytb-video iframe {
    border: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* -------------------------------------------- BTN -------------------------------------------- */

.btn {
    padding: 0.7rem 2.5rem;
    text-decoration: none;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    font-weight: bold;
    display: inline-block;
    transform: scale(1);
    transition: .3s ease-in-out all;
}

.btn:hover {
    transform: scale(0.95);
    transition: .3s ease-in-out all;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--background);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    background-color: var(--primary);
    color: var(--background);
    border-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--background);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--secondary);
    border-color: var(--secondary);
}

.btn-outline-secondary {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--secondary);
    border-color: var(--secondary);
}

.btn-outline-secondary:hover {
    background-color: var(--secondary);
    color: var(--background);
    border-color: var(--secondary);
}

/* ------------------------------------------- CARDS ------------------------------------------- */

.card {
    border-radius: 2rem;
    max-width: 22rem;
    min-height: 22rem;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 0.5rem 0 var(--shadow);
    background-image: url("https://images.unsplash.com/photo-1626539897275-73cbec67d24e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
}

.card .card-content {
    position: relative;
    width: 100%;
    height: 22rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--bgc-alt);
    color: var(--text-color);
    /* Fix glitch if content is > height of card-content */
    overflow-y: auto;
    transform: translateY(100%) translateY(-3.5rem) translateZ(0);
    transition: .4s ease-in-out transform;
}

.card .card-content.card-content-t2 {
    transform: translateY(100%) translateY(-6rem) translateZ(0);
}

.card:hover .card-content {
    transform: translateY(0%);
    transition: .4s ease-in-out transform;
}

.card .card-content span {
    display: block;
}

.card .card-content span:first-child {
    font-size: 2rem;
    color: var(--primary);
}

.card .card-content a.btn {
    display: block;
    width: fit-content;
    margin: 0.5rem auto;
}

/* ------------------------------------------- Table ------------------------------------------- */

.responsive-table {
    /* Add scroll bar if screen is to small */
    overflow-y: auto;
    box-shadow: 0 0 1rem 0 var(--shadow);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr th {
    background-color: var(--bgc-alt);
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.table tr td {
    background-color: var(--background);
    color: var(--text-color);
    transition: .3s ease-in-out all;
}

.table tr td:nth-child(n+3) {
    text-align: center;
}

.table tr:nth-child(2n) td {
    background-color: var(--bgc-alt);
    transition: .3s ease-in-out all;
}

.table tr:hover td {
    background-color: var(--secondary);
    color: var(--background);
    transition: .3s ease-in-out all;
}

.table tr td a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    color: inherit;
    text-decoration: none;
}
/* ------------------------------------------- Ticket ------------------------------------------ */

.ticket {
    max-width: 35rem;
    width: 100%;
    background-color: var(--bgc-alt);
    box-shadow: 0 0 0.5rem 0 var(--shadow);
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 80%;
    transition: .3s ease-in-out box-shadow;
}

.ticket:hover {
    box-shadow: 0 0 1rem 0 var(--shadow);
    transition: .3s ease-in-out box-shadow;
}

.ticket .ticket-image {
    background-color: var(--primary);
    padding: 0.5rem;
}

.ticket .ticket-image img {
    display: block;
    margin: auto 0;
    height: 100%;
}

.ticket .ticket-content {
    padding: 1rem;
    display: block;
    margin: auto 0;
    height: fit-content;
}

.ticket .ticket-content span {
    color: var(--primary);
    font-size: 1.5rem;
}

/* ------------------------------------------------------ MAIN ------------------------------------------------------ */

main section {
    padding: 3rem 0;
}

main section:nth-child(2n + 1) {
    background-color: var(--primary);
    color: var(--background);
}

main section:nth-child(2n) {
    background-color: var(--background);
    color: var(--text-color);
}

/* ----------------------------------------------------- FOOTER ----------------------------------------------------- */

#footer {
    background-color: var(--secondary);
    color: var(--background);
    box-shadow: 0 0 0.5rem 0 var(--shadow);
    padding: 2rem 0;
}

#footer .widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 1rem;
}

#footer .widget .column {
    max-width: 22rem;
    width: 100%;
}

#footer .widget .column > span {
    font-size: 1.5rem;
}

#footer .widget .column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .widget .column:first-child ul {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
}

#footer .widget .column ul li {
    padding: 0.3rem 0;
}

#footer .widget .column ul li a {
    color: inherit;
    text-decoration: solid underline transparent 0.15rem;
    font-size: 1.1rem;
    transition: .4s ease-in-out all;
}

#footer .widget .column ul li a:hover {
    text-decoration-color: var(--primary);
    transition: .4s ease-in-out all;
}

#footer .widget .column ul li a img {
    width: 3rem;
    height: auto;
    transform: scale(1) rotate(0);
    transition: .3s ease-in-out transform;
}

#footer .widget .column ul li a:hover img {
    transform: scale(0.9) rotate(10deg);
    transition: .3s ease-in-out transform;
}

#footer .copyright {
    text-align: center;
    font-weight: bold;
}