form {

  &.form-section {
    background-color: var(--background);
    color: var(--text-color);
    box-shadow: 0 0 1rem 0 var(--shadow);
    padding: 1rem;
    border-radius: 1rem;
  }

  label, .form-control {
    display: inline-block;
    width: 100%;
    margin: 0.5rem 0;
  }

  .form-control {
    padding: 0.5rem 1rem;
    background-color: var(--bgc-alt);
    color: var(--text-color);
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;

    &::placeholder {
      color: var(--primary);
    }
  }

  textarea.form-control {
    resize: vertical;
    min-height: 2rem;
  }
}