.guitar-animated {
  .notes, .sparks {
    animation: notes 1.5s infinite linear;
  }

  .shadow {
    animation: shadow 4s infinite linear;
    transform-origin: 50% 50%;
  }

  .guitar {
    animation: guitar 4s infinite linear;
  }
}

@keyframes guitar {
  from, to {
    transition-timing-function: ease-in-out;
    transform: translate3d(0, 0, 0);
  }
  50% {
    transition-timing-function: ease-in-out;
    transform: translate3d(0, 1.5%, 0);
  }
}

@keyframes shadow {
  from, to {
    transition-timing-function: ease-in-out;
    transform: scale(0.95, 1);
  }
  50% {
    transition-timing-function: ease-in-out;
    transform: scale(1.05, 1);
  }
}

@keyframes notes {
  from, to {
    transition-timing-function: ease-in-out;
    opacity: 0;
  }
  35% {
    transition-timing-function: ease-in-out;
    opacity: 0;
  }
  50% {
    transition-timing-function: ease-in-out;
    opacity: 1;
  }
  85% {
    transition-timing-function: ease-in-out;
    opacity: 1;
  }
}