.site-brand a {
  color: var(--primary);
  text-decoration: solid underline transparent 0.15rem;
  font-size: 2rem;
  display: flex;
  align-content: center;
  align-items: center;
  transition: .4s ease-in all;

  &:hover {
    text-decoration-color: var(--secondary);
    color: var(--secondary);
    transition: .4s ease-in all;
  }

  img {
    width: 3.5rem;
    height: auto;
  }
}