/* to fix height ratio glitch */
.ytb-video {
  box-shadow: 0 0 1rem 0 var(--shadow);
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.ytb-video iframe {
  border: none;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}